.TOPIC{
    display: grid;    
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 2.5fr;
    grid-template-areas: 
            "nav nav nav"
            "breaking main css"
            "boy Politics Politics"
            "boy Technology Technology"
            "boy locals locals"
            "boy Opinion Opinion"
            "boy Sports Sports"

    ;
}
nav{
    grid-area: nav;
    text-align: center;
    font-style: italic;
}
.main{
    grid-area: main;
    border-top: 0.2px solid;
    border-bottom: 0.2px solid;
    text-align: center;
}
.breaking{
    grid-area: breaking;
    border: 0.2px solid;
    text-align: center;
}
.css{
    grid-area: css;
    border: 0.2px solid;
    text-align: center;
}
.boy{
    grid-area: boy;
    border: 0.2px solid;
    text-align: center;
}
#politics{
    grid-area: Politics;
    background-color: rgb(93, 240, 9);
    border-right: 1.5px solid;
}
#technology{
    grid-area: Technology;
    background-color: deepskyblue;
    border-right: 1.5px solid;
}
#locals{
    grid-area: locals;
    background-color: darkviolet;
    border-right: 1.5px solid;
}
#opinion{
    grid-area: Opinion;
    background-color: grey;
    border-right: 1.5px solid;
}
#sports{
    grid-area: Sports;
    background-color: lightslategrey;
    border-right: 1.5px solid;
    border-bottom: 1.5px solid;
}
@media (max-width:576px)
{
    .TOPIC{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1 0.5fe 0.5fr 0.5fr 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        grid-template-areas: 
                "nav"
                "breaking"
                "main"
                "css"
                "boy"
                "Politics"
                "Technology"
                "locals"
                "Opinion"
                "Sports"

        ;
    }
    
}